<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>klasy</title>
</head>
<body>

<div th:id="main-box" th:each="Squad : ${allSquads}">
    <div>
        <h2 th:class="title-object">Nazwa</h2>
        <div th:class="value-object" th:text="${Squad.name}">Nazwa</div>
    </div>
    <div>
        <h2 th:class="title-object">Profil</h2>
        <div th:class="value-object" th:text="${Squad.profile}">Profil</div>
    </div>
    <div>
        <h2  th:class="title-object">Wychowawca</h2>
        <div th:class="value-object" th:text="${Squad.headTeacher}">Wychowawca</div>
    </div>
    <div th:class="title-object">
        <h2>Uczniowie</h2>
        <div th:id="main-box" th:each="Squad.StudentList : ${Student}">
            <div>
                <div th:class="students" th:text="${Student.name} + ' ' + ${Student.surName}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>